**/obj/
**/objd/
**/out/
**/bin/
**/Release/
**/Debug/
**/tmp/
**/deleted/
**/*.out*
**/~*
**/diagnosticsjson
**/.vs/
**/packages/
**/.pnpm/
**/node_modules/
**/__pycache__/
**/.ipynb_checkpoints/
**/.chromadb/
**/chromadb/
**/chromadb_data/